<h1> Morning Pages </h1>
<h4>
	<form action='/am_entries/new' method="POST">
		<br><label>Three things I would like to accomplish today are: </label>
		1. <input type="text" name="goals1"><br>
		2. <input type="text" name="goals2"><br>
		3. <input type="text" name="goals3"><br>
		<br><br><label>I think my day would be awesome if...</label>
		<textarea name="awesome"></textarea><br>
		<br><br><label>Affirmation/Thought of the Day/Words of Encouragement:</label>
		<input type="text" name="affirmation" style="margin-left: 20px;"><br>
		<br><br><label>Five things I am grateful for right now are:</label>
		1. <input type="text" name="gratitude1"><br>
		2. <input type="text" name="gratitude2"><br>
		3. <input type="text" name="gratitude3"><br>
		4. <input type="text" name="gratitude4"><br>
		5. <input type="text" name="gratitude5"><br>
		<br><br><label>Additional thoughts/words:</label>
		<textarea name="words"></textarea><br><br><br>
		<input type="submit" class="button" value="Save Entry">
	</form>
	<form action="/index">
		<input type="submit" class="button" value="Return to Index">
	</form>
	<form action="/main_menu">
		<input type="submit" class="button" value="Back to Main Menu">
	</form>
</h4>
<br><br>
