<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="UTF-8">
    	<title>AM/PM Pages - NEW ENTRY</title>
  	</head>
  	<body>
	  	<h1> MORNING PAGES </h1>
	  	<!--display current date and time here-->
	  	<!-- format: Month, Day Year 00:00am -->
	  	<form action='/am_entries/new' method="POST">
			<h4>Three things I would like to accomplish today are:
		  	<h4><input type="text" name="goals_1" placeholder="1: " </h4><br>
			<h4><input type="text" name="goals_2" placeholder="2: " </h4><br>
			<h4><input type="text" name="goals_3" placeholder="3: " </h4><br>
			<h4>It would make today awesome if...</h4><br>
			<h4><input type="text" name="awesome"</h4><br>
			<h4>Affirmation/Thought of the Day/Words of Encouragement:</h4><br>
			<h4><input type="text" name="affirmation"</h4><br>
			<h4>Five things I am grateful for right now are:</h4><br>
			<h4><input type="text" name="gratitude_1" placeholder="1: " </h4><br>
			<h4><input type="text" name="gratitude_2" placeholder="2: " </h4><br>
			<h4><input type="text" name="gratitude_3" placeholder="3: " </h4><br>
			<h4><input type="text" name="gratitude_4" placeholder="4: " </h4><br>
			<h4><input type="text" name="gratitude_1" placeholder="5: " </h4><br>
			<h4>Additional thoughts/words:</h4><br>
			<h4><input type="text" name="words" </h4><br>
		</form>	
  	</body>
</html>
