
	<h1> EVENING PAGES </h1>
	<!--display current date and time here-->
	<!-- format: Month, Day Year 00:00am -->
	<form action='/pm_entries/new' method="POST">
	<h4>Two things today that went really well or exceeded my expectations were:
  	<h4>1. <input type="text" name="excellent[excellent_1]" style="width: 600px;" </h4><br>
	<h4>2. <input type="text" name="excellent[excellent_2]" style="width: 600px;" </h4><br>
	<h4>Three lessons I learned today, or ways I could have made the day better:</h4>
	<h4>1. <input type="text" name="lessons[lessons_1]" style="width: 600px;" </h4><br>
	<h4>2. <input type="text" name="lessons[lessons_2]" style="width: 600px;" </h4><br>
	<h4>3. <input type="text" name="lessons[lessons_3]" style="width: 600px;" </h4><br>
	<h4>Five things I am grateful for right now are:</h4>
	<h4>1. <input type="text" name="gratitude[gratitude_1]" style="width: 600px;" </h4><br>
	<h4>2. <input type="text" name="gratitude[gratitude_2]" style="width: 600px;" </h4><br>
	<h4>3. <input type="text" name="gratitude[gratitude_3]" style="width: 600px;" </h4><br>
	<h4>4. <input type="text" name="gratitude[gratitude_4]" style="width: 600px;" </h4><br>
	<h4>5. <input type="text" name="gratitude[gratitude_5]" style="width: 600px;"</h4><br>
	<h4>Additional thoughts/words:</h4>
	<h4><textarea name="thoughts" cols="85" rows="5"> </textarea></h4>
	<input type="submit" value="Save Entry">
</form>
