<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Error!</title>
  </head>
  <body>
	  <h4> Error Loading Page </h4><br>
	  <h4> Please re-enter your username and password, </h4>
	  <h4> Or ensure all fields on the sign up page are </h4><br>
	  <h4> entered correctly. </h4><br><br>
	  <a href="./welcome" class="button">RETURN TO MAIN PAGE</a>
	
  </body>
</html>
