<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AM/PM Pages - LOG IN</title>
  </head>
  <body>
	  <h4> Existing Users Please Log In Below: </h4>
	  <form action="/login" method="POST">
	  <h4><input type="text" name="username" placeholder="Username:" </h4>
	  <h4><input type="text" name="password" placeholder="Password:"</h4><br>
	  <h4><input type="submit" value="LOG IN"</h4><br><br>
  </body>
</html>
