<br><h3>MORNING AND EVENING PAGES</h3><br><br>

<h1 style="color:white;margin-left:30px;font-size:2.2rem;text-align:left;">
<strong> How To Use This Program</strong></h1>

<p style="text-align:left;margin-left:30px;">
	Morning and Evening Pages is an application to assist users in creating a morning and evening ritual of intention setting, gratitude and reflection.<br><br>

	This application was designed to encourage and implement the use by daily practice, conscious focus and repetition to create new neural pathways leading to conscious living and away from subconscious reactivity.  Throughout our hasty lifestyles our attention and focus is constantly being directed from our goals and intentions as we are bombarded by the latest media driven fear and the continuous perceived threat to our survival. While technology has enhanced our lives in many ways, I believe that it can be more beneficially used to create and develop mindfulness and healthier perspectives of our world.<br><br>

	Sign up and/or Login to follow the easy to use menu options to create, review, edit or delete Morning and Evening pages.  Your entries remain private and confidential for your own viewing or revision. This site and service is free and easy to use. </p><br><br><br><br>

<h1 style="color:white;margin-left:30px;font-size:2.2rem;text-align:left;">
<strong>About Harleigh</strong></h1>
<p style="text-align:left;margin-left:30px;">

	And thus begins the flagrant self promotion… <br><br><br>

	PRESENT<br><br>

	 Harleigh Abel is a full time student currently enrolled in FlatIron 		School’s Full Stack Web Development program.  Prior to Flatiron she devoured 	any online programming resources she could get her hands on and spent the first two and half years of her studies self teaching C and computer science principles.  She is a graphic design school graduate from Pixel Blue College’s graphic design and photography program. Pixel Blue gave her an opportunity to participate in real world projects in web design, print design, brand development, and creating and pitching marketing strategies to non-profit clients.<br><br>

	Harleigh has a passion for people, event planning, and innovation which led to her position as a Co-Organizer for the Austin Arduino and MicroController Meetup group. At monthly meet ups and during her own down time she continues to create and experiment with micro-controllers and raspberry pis, looking to eventually develop her own IOT devices and projects.  She looks forward to combining her skills in software and hardware in new creative problem solving ways. Harleigh's latest fixation and inspiration includes space exploring CubeSats and mind controlled drone technology.<br><br><br>

	PAST <br><br>
	Prior to programming Harleigh experiment with many industries but found that she did not feel challenged or engaged by many of the roles she participated in. Some of those included poker dealer, property management, professional shopper, mortgage broker, special needs care aid, safety officer in the oil sands, able bodied seaman, and Hollywood film crew member.<br><br>

	Harleigh spent almost a decade employed in the SuperYacht industry as a deckhand, and bosun and eventually as owner/shipyard representative overseeing construction of new vessels.  Her duties included vessel maintenance, line handling, navigation, fire fighting, safety drills, outfitting new vessels for seaworthiness, identifying defects, passing ABS certification requirements and keeping up vessel documentation. She eventually left the Superyacht industry with intention of pursuing a land based career that both challenged and engaged her mind, and gave her an opportunity to give back and impact the world in positive ways.<br><br>

	Throughout her adventurous career she was able to support her travel addiction and was fortunate to have the opportunity to travel to thirty countries and live in eleven of them before choosing Austin, Texas to settle down in.<br><br><br>

	FUTURE<br><br>

 Harleigh’s interest in human behavior and personal development has turned her focus to developing new and innovative ways to use software and technology to create and rewire neural pathways through practice and repetition of new habits, behavioral modification and positive reinforcement.  Eventually she would like to transition as an software developer, aspiring entrepreneur and humanitarian into tackling projects such as affordable, clean energy, smart housing and automated, local, organic food production implemented through software and hardware solutions. Harleigh is always interested on new opportunties to develop and refine her skill and to connect with new people and pioneering spirits. You can contact her or connect with her through<a href="https://www.linkedin.com/in/harleigh-abel-8aaa1a64"> LinkedIn.</a><br><br></p>

<h4 style="text-align:left;margin-left:30px">
	Background Image Credit: <a href="https://www.photosomi.com/?utm_medium=referral&utm_source=unsplash"> Olivier Miche</a><br><br>
	Source: www.unsplash.com
</h4></style><br><br>

<form action="/main_menu">
	<center><input type="submit"class="button" value="Back to Main Menu"></center>
</form><br><br>
