<br><h3>MORNING AND EVENING PAGES</h3><br><br>

<h1 style="color:white;margin-left:30px;font-size:2.2rem;text-align:left;">
<strong> How To Use This Program</strong></h1>

<p style="text-align:left;margin-left:30px;">
	Morning and Evening Pages is an application to assist users in creating a morning and evening ritual of intention setting, gratitude and reflection.<br><br>

	This application was designed to encourage and implement the use by daily practice, conscious focus and repetition to create new neural pathways leading to conscious living and away from subconscious reactivity.  Throughout our hasty lifestyles our attention and focus is constantly being directed from our goals and intentions as we are bombarded by the latest media driven fear and the continuous perceived threat to our survival. While technology has enhanced our lives in many ways, I believe that it can be more beneficially used to create and develop mindfulness and healthier perspectives of our world.<br><br>

	Sign up and/or Login to follow the easy to use menu options to create, review, edit or delete Morning and Evening pages.  Your entries remain private and confidential for your own viewing or revision. This web application is free and easy to use. </p><br><br><br><br>

<h1 style="color:white;margin-left:30px;font-size:2.2rem;text-align:left;">
<strong>About Harleigh</strong></h1>
<p style="text-align:left;margin-left:30px;">

	And thus begins the flagrant self promotion… <br><br><br>

	PRESENT<br><br>

 Harleigh Abel is a full time student currently enrolled in Flatiron 		School’s Full Stack Web Development program. She enjoys people, event planning, coding and innovation which led to her position as a Co-Organizer for the Austin Arduino and MicroController Meetup group. At monthly meet ups and during her own down time she continues to create and experiment with micro-controllers and Raspberry Pis, looking to eventually develop her own IOT devices that connect and interact with her web applications.  She looks forward to combining her skills in software and hardware in new creative problem solving ways. Harleigh's latest inspiration includes space exploring CubeSats and mind controlled drone technology.<br><br><br>

	PAST <br><br>
	Prior to programming Harleigh experimented with many industries but did not feel challenged or inspired by many of the positions she held. Throughout her adventurous career she was able to support her travel addiction and was fortunate to have the opportunity to travel to thirty countries and live in eleven before choosing Austin, Texas to settle down in after leaving a long career in the Superyacht industry. It was here she rediscovered a passion for programming that both engaged her mind, and gave her an opportunity to give back and impact the world in positive ways. Before enrolling in Flatiron, she devoured any online programming resources she could get her hands on and spent the first two and half years of her studies self teaching C and computer science fundamentals. She is a graphic design school graduate from Pixel Blue College’s graphic design. Pixel Blue gave her an opportunity to participate in real world projects in web design, brand development, creating and pitching marketing strategies to non-profit clients, but most importantly allowing her to add design interfaces for her web applications.<br><br>

	<br><br><br>

	FUTURE<br><br>

 Harleigh’s interest in human behavior and personal development has turned her focus to developing new and innovative ways to use software and technology to create and rewire neural pathways through practice and repetition of new habits, behavioral modification and positive reinforcement.  Eventually she would like to user her skills to collaborate with innovative and inspired teams to tackle global issues such as affordable, clean energy, smart housing and automated, local, organic food production implemented through software and hardware solutions. Harleigh is always interested on new opportunties to develop and refine her skills and to connect with new people and pioneering spirits. You can contact her or connect with her through<a href="https://www.linkedin.com/in/harleigh-abel-8aaa1a64"> LinkedIn.</a><br><br></p>

<h4 style="text-align:left;margin-left:30px">
	Background Image Credit: <a href="https://www.photosomi.com/?utm_medium=referral&utm_source=unsplash"> Olivier Miche</a><br><br>
	Source: www.unsplash.com
</h4></style><br><br>

<form action="/main_menu">
	<center><input type="submit"class="button" value="Back to Main Menu"></center>
</form><br><br>
