<br>
<h3>MORNING AND EVENING PAGES</h3>
<br>
<br>

<h1 style="color:white;margin-left:30px;font-size:2.2rem;text-align:left;">
<strong> How To Use This Program</strong></h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Vitae proin sagittis nisl rhoncus mattis. Sed id semper risus in hendrerit gravida rutrum quisque. Volutpat odio facilisis mauris sit amet massa. Consectetur lorem donec massa sapien faucibus et. Nunc consequat interdum varius sit amet mattis vulputate. In aliquam sem fringilla ut morbi tincidunt augue. Lectus quam id leo in vitae turpis.

At erat pellentesque adipiscing commodo elit at. Egestas sed sed risus pretium quam. Maecenas pharetra convallis posuere morbi leo urna molestie. In metus vulputate eu scelerisque felis imperdiet proin. Feugiat in ante metus dictum at tempor commodo. Nibh venenatis cras sed felis. Mauris sit amet massa vitae tortor condimentum lacinia. Tempus egestas sed sed risus pretium quam vulputate. Ullamcorper dignissim cras tincidunt lobortis. Tempus iaculis urna id volutpat lacus laoreet non.

<br><br>

<h1 style="color:white;margin-left:30px;font-size:2.2rem;text-align:left;">
<strong>About Harleigh</strong></h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Vitae proin sagittis nisl rhoncus mattis. Sed id semper risus in hendrerit gravida rutrum quisque. Volutpat odio facilisis mauris sit amet massa. Consectetur lorem donec massa sapien faucibus et. Nunc consequat interdum varius sit amet mattis vulputate. In aliquam sem fringilla ut morbi tincidunt augue. Lectus quam id leo in vitae turpis.

At erat pellentesque adipiscing commodo elit at. Egestas sed sed risus pretium quam. Maecenas pharetra convallis posuere morbi leo urna molestie. In metus vulputate eu scelerisque felis imperdiet proin. Feugiat in ante metus dictum at tempor commodo. Nibh venenatis cras sed felis. Mauris sit amet massa vitae tortor condimentum lacinia. Tempus egestas sed sed risus pretium quam vulputate. Ullamcorper dignissim cras tincidunt lobortis. Tempus iaculis urna id volutpat lacus laoreet non.
<br><br>

<h4 style="text-align:left;">
Background Image Credit: <a href="https://www.photosomi.com/?utm_medium=referral&utm_source=unsplash"> Olivier Miche</a><br><br>
Source: www.unsplash.com </h4></style>
<br><br>

<form action="/main_menu">
<center><input type="submit"class="button" value="Back to Main Menu"></center>
</form>
<br>
<br>
