<h1> Main Menu </h1>
<h3>Please Make Your Selection: </h3>
<form action="/am_entries/new">
	<input type="submit"class="button" value="Create New AM Entry">
</form>
<form action="/pm_entries/new">
	<input type="submit"class="button" value="Create New PM Entry">
</form>
<form action="/index">
	<input type="submit"class="button" value="View/Edit Exisiting Entries">
</form>
