<h1> Main Menu </h1>
<h3>Please Make Your Selection: </h3>

<input type="submit"class="button" value="Create New AM Entry" a href="/am_entries/new"</a><br>
<input type="submit"class="button" value="Create New PM Entry" a href="/pm_entries/new"</a><br>
<input type="submit"class="button" value="View/Edit Exisiting Entries" a href="/index"</a>
