<h1> Welcome, My Friend </h1>

<!-- Create Sign up/Login Buttons-->
<!-- NOTE: page-style: login button, signup button. Page has full screen striking hi res image-->
<a href="views/users/sign_up.erb" class="button">SIGN UP</a>
<a href="view/users/log_in.erb" class="button"> LOG IN </a>
<a href="/about.erb" class="button"> ABOUT </a> #what controller is responsible for this view
