<br>
<h1> Welcome, My Friend! </h1>
<h2>MORNING AND EVENING PAGES</h2>
<br><br><br><br><br><br><br><br><br><br>

<form action="/sign_up">
	<input type="submit"class="button" value="SIGN UP">
</form>
<form action="/login">
	<input type="submit"class="button" value="LOG IN">
</form>
<form action="/about">
	<input type="submit"class="button" value="ABOUT">
</form>
