<h1> Welcome, My Friend </h1>
<h4> Have you been here before?</h4>
<!-- Create Sign up/Login Buttons-->
<!-- NOTE: page-style: login button, signup button. Page has full screen striking hi res image-->
<!-- site style brainstorm: h1 is a large white script font, h3 helvetica or sans serif, buttons have a 3pixel whit border with no fill, all other page follow the same format but include a 60% transparency box over images and contain all text and fields, style is simple, clean, modern, hi-res, mimimalist, fonts very between a classic script and a clear, easy, san serif like helvetica. Background is of nature, nature, sunset, sunrise, ispiring, emotive images of day and night.  Four daytimes images, 4 nightime images will randomly be displayed for each am/pm entry. Images should be high res horizontal orientation, nothing to busy or complicated that interferes with the font.>
