<h1> Welcome, My Friend </h1>

<!-- Create Sign up/Login Buttons-->
<!-- NOTE: page-style: login button, signup button. Page has full screen striking hi res image-->
<a href="/sign_up" class="button">SIGN UP</a>
<a href="/log_in" class="button"> LOG IN </a>
<a href="/about" class="button"> ABOUT </a>
