<br>
<h1> Welcome, My Friend! </h1>
<h2>MORNING AND EVENING PAGES</h2>
<% #why is this showing up so large in Safari? %>
<br><br><br><br><br><br><br><br><br><br>
<!-- Create Sign up/Login Buttons-->
<!-- NOTE: page-style: login button, signup button. Page has full screen striking hi res image-->
<form action="/sign_up">
	<input type="submit"class="button" value="SIGN UP">
</form>
<form action="/login">
	<input type="submit"class="button" value="LOG IN">
</form>
<form action="/about">
	<input type="submit"class="button" value="ABOUT">
</form>
